run/
bin/
src__/
*.jar
*.class
.classpath
.project
.settings/
.gradle/
eclipse/
MinecraftForge-README.txt
Modding-README.txt
forge*changelog.txt
LICENSE-fml.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
CREDITS-fml.txt

# Scripts
findObfName

# Misc
obfuscation_notes
src/main/java/celestibytes/magicandcorruption/asm/cts/CT_InventoryBasic.java

